body{
    background-color: white;
}
.male{
    height:200px;
    width: 150px;
    border: 3px solid black;
    margin: 5px;
    display: inline-block;
    box-shadow: 0 4px 8px rgb(42, 41, 37);
    border-radius: 5px;
    transition: 1s;
    
    
    
    

}
img{
    width: 100%;
    border-radius: 3px 3px 0 0 ;
}
.card{
    padding: 0 0 0 4px;

}
.male:hover{
    box-shadow: 0 8px 16px rgb(223, 164, 14);


}
